<div class="main-menu open">
    <input type="checkbox" id="status" class="main-menu__input" />
    <div class="main-menu__overlay"></div>
    <label for="status" class="main-menu__opener">
        <i class="fa fa-sharp fa-solid fa-bars"></i>
        <i class="fa fa-sharp fa-thin fa-close"></i>
    </label>
    <div class="main-menu__items">
        <div class="main-menu__item">
            <a href="/second.html">Go to second page</a>
        </div>
        <div class="main-menu__item">
            <a href="/index.html">Go to home page</a>
        </div>
        <div class="main-menu__item">item 3</div>
        <div class="main-menu__item">item 4</div>
        <div class="main-menu__item">item 5</div>
    </div>
</div>