@import "../../mixins.scss";
.logo {
    display: flex;
    column-gap: 40px;
    align-items: center;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}

.first-line {
    font-family: 'Custom';
    color: orange;
    font-style: italic;
}

.second-line {
    font-family: 'Bungee Spice', 'Courier New';
    color: gray;
    text-transform: uppercase;
    font-size: 25px;
}

