.sprite {
    background-image: url('./img/css_sprites.png');
}

.blog {
    width: 56px; height: 52px;
    background-position: -10px -10px;
}

.home {
    width: 54px; height: 47px;
    background-position:  -162px -10px;
}

.about {
    width: 56px; height: 52px;
    background-position: -86px -10px;
}


.contact {
    width: 56px; height: 52px;
    background-position: -10px -82px;
}

.work {
    width: 56px; height: 52px;
    background-position: -86px -82px;
}