@import "../../mixins.scss";

.card {
    background-color: rgb(195, 213, 221);

    &__button {
        @include special-block(40px);

        &--primary {
            background-color: green;
            color: #fff;
        }

        &--secondary {
            background-color: rgb(35, 23, 202);
            color: rgb(125, 214, 52);
        }
    }
}

